*{
    background-image: url("teal-butterfly-abstract-beautiful.jpg");
    color: antiquewhite;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.in1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    font-size: 30px;
}
button{
    font-size: 40px;
    padding: 10px;
    background-image: none;
    background-color: crimson;
    border: 4px solid rgb(49, 14, 14);
}
button:hover{
    color: blue;
    background-color: chartreuse;
}
